        </section>

        <div class="clear-both"></div>
        <footer>
            web interface for <a href="http://search.cpan.org/dist/Module-CoreList/">Module::CoreList</a>.
        </footer>
    </div>
</body>
</html>
