            <hr />
            <div class="footer" style="text-align: right">
                Web interface for <a href="http://search.cpan.org/dist/Module-CoreList/">Module::CoreList</a>.
            </div>

        </div><!-- /.container -->
    </div>
</body>
</html>
