{{> include/header }}

<form method="get" action="/">
    <input type="text" name="q" value="{{module}}" />
    <input type="submit" value="when?" />
</form>

{{#module}}
    {{#first_release}}
    <span class="module">{{module}}</span> was first released with perl <a class="version" href="/v/{{ first_release }}">{{ first_release }}</a>
    {{/first_release}}
    {{^first_release}}
    <span class="module">{{module}}</span> was not in CORE (or so I think)
    {{/first_release}}
{{/module}}

{{> include/footer }}
