{{> include/header }}

<h2>{{ module }}</h2>

<table>
    {{#releases}}
        <tr><td><a href="/v/{{ perl }}">{{ perl }}</a></td><td>{{ module }}</td></tr>
    {{/releases}}
</table>

{{> include/footer }}
