[% INCLUDE 'include/header.tt' %]


<h2>[% module %] - <a href="https://metacpan.org/module/[% module %]">goto &metacpan;</a></h2>


<table>
    [% FOR row IN data %]
        <tr><td><a href="/v/[% row.perl %]">[% row.perl %]</a></td><td>[% row.module %]</td></tr>
    [% END %]
</table>

[% INCLUDE 'include/footer.tt' %]
