[% INCLUDE 'include/header.tt' %]

<h2>Core modules in version [% version %]</h2>
<table class="table table-hover">
    [% FOR k IN modules.keys().sort() %]
        <tr>
            <td align="left"><a href="/m/[% k %]">[% k %]</a></td>
            <td>[% modules.$k %]</td>
        </tr>
    [% END %]
</table>

[% INCLUDE 'include/footer.tt' %]
